<!DOCTYPE html>
{% load static %}
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>

<!--	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />-->
	<link rel="stylesheet" href="{% static "css/style.css" %}"/>

	<meta charset="UTF-8">
	<title>Virtual Herbarium</title>
	<!--<link rel="stylesheet" href="css/style.css" type="text/css">  -->
	
<script type="text/javascript" src="{%static "scripts/jquery.min.js"%}"></script>
<script type="text/javascript" src="{%static "scripts/jquery.innerfade.js"%}"></script>
</head>
<body>
	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">
			<div class="sidebar">
				<a href="index" id="logo"></a><img src="{% static "images/logo111.png" %}" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="index">Home</a>
					</li>
					<li>
						<a href="search">Search</a>
					</li>

					<li>
						<a href="/collections">Collection</a>
					</li>
					
				</ul>
				<form action="about.html">
					<span>Commenius University</span>
					<p>Virtual Herbarium Collection</p>

				</form>

				

			</div>
			<div class="body">
				<div>
					<h2>Virtual Herbarium</h2>
					<p>
						Comenius University

					</p>

					<div class="fl_left">
							<h1>What you can find here</h1>
							<ul>
							  <li>
								<h2>1.1
								</h2>
								<p>This is an online storage of herbarium samples of Natural Faculty in Bratislava, offering:</p>
								<p>search of plants by name, species, keywords; </p>
								<p>distance meassurment of herbarium particles;</p>
								<p>color picker. </p>

							  </li>

						  </div>
					<div class="fl_right">

							<ul id="rotation">
								{% load thumbnail %}

								{% for plant in plants %}
										 {% thumbnail plant.scan "400" as im %}
                                					 <a href="{{ plant.scan.url }}">
                                    				<img src="{{im.url }}" >
                                					 </a>
                            {% endthumbnail %}

								{%endfor %}



							</ul>
					</div>

						</div>




				</div>
			</div>
		</div>
	</div>
</body>
</html>