<!DOCTYPE html>
{% load static %}

<html>

<head>
<!--	<link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}">-->
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
	<link rel="stylesheet" href="{% static "css/style.css" %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="{%static "js/bootstrap.min.js"%}"></script>
	<script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    $svg_anm.fadeOut();
    $preloader.delay(500).fadeOut('slow');
});</script>
{%block static %}

<script type="text/javascript" src="{%static "scripts/jquery.innerfade.js"%}"></script>

{%endblock%}

	<meta charset="UTF-8">
	<title>{%block title %} Virtual Herbarium {%endblock%}</title>


</head>

<div id="p_prldr"><div class="contpre"><image src="{% static "images/Load.gif" %}"></image></div></div>

{% block navigation%}
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
	  <div class="collapse navbar-collapse" id="navbarColor02">

	  <a href="/index" id="logo"><img weight="50px" height="50px" class="navbar-brand nav-link" href='/index' src="{% static "images/logo1111.png" %}" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item ">
			<a class="nav-link" href="/index">Home </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" <a href="/search">Search</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" <a href="/collections">Collection</a>
		  </li>

		</ul>

	  </div>
	</nav>
{%endblock navigation %}

{% block content %}
<!--<h2>Virtual Herbarium</h2>-->
<div class="container">
<div class="row">
	<div class="fl_left col-md-6 flex-centre">
		<h1>Welcome to Virtual Herbarium! </h1>
		<h2>What you can find here</h2>

		<p>Here You may find herbaria samples from a big collection of Department of Botany, Natural faculty, Comenius university.
		Besides the searching of herbaria the following options are available on the website:</p>
		<p>-color measurement; </p>
		<p>- distance measurement.</p>
		<p>Our goal is to make the access to the cultural heritage easier and to simplify the process of plant research. </p>

	  </div>

	<div class="fl_right col-md-6">
{% load thumbnail %}
	  <ul id="rotation">
			{% load thumbnail %}

			{% for plant in plants %}
					 {% thumbnail plant.scan "350" as im %}
								 <a target="_blank" href="  {{ plant.scan.url }}">
								<img class="magege" src="{{im.url }}" >
								 </a>
					 {% endthumbnail %}

			{%endfor %}

	  </ul>
	  </div>
</div>
</div>
{%endblock content %}


</body>
</html>
