<!doctype html>
{% load static %}
<html lang=en>
<meta charset=UTF-8>

<title>Measurement</title>


<head>

        <link href="{%static "css/main.css" rel="stylesheet"%}" type="text/css" />
        <link rel="stylesheet" href="{%static "css/style.css"%}" type="text/css">
<!--        <script type="text/javascript" src="{%static "js/vare.js"%}"></script>-->
        <script type="text/javascript">let crcr = '{{plant.scan.url}}';</script>

        <script type="text/javascript" src="{%static "js/meassuring.js"%}"></script>

</head>
   <body>

                <div class="page">
                        <div class="sidebar">
                                <a href="/index" id="logo"><img src={% static "images/logo1111.png" %} alt="logo"></a>
                                <p>
                                    ...
                                </p>
                                <ul>
                                    <li class="selected">
                                       <a href="/search/services/{{plant.barcode}}">Back</a>
                                    </li>

                                </ul>

                            </div>

    </div>
</div>
<div class=container>

        <div>
        <h1>Distance meassurement</h1>

            <ol>
                <li>
<!--                    <input id=loadbutton type='reset' value="Open ..." src = {{plant.scan.url}}>-->

<!--                        <img id = 'loadbutton' src = 'http://localhost:8000/scans/Start_E55E2vw.jpg' />-->

            <input id=ref value=1>
            <ul>

                        <li>Hold <kbd>CTRL</kbd> while dragging to create horizontal/vertical lines
                            <li>Hit <kbd>ESC</kbd> to clear</ul>
            <div id=fileinfo></div>
            <div id=containerer>

                <canvas id="canvas"> </canvas>

            </div>
            <div id=info>x=- y=- -</div>
            <input id=save type=button disabled value="Save as ...">
            <h2>Measurements</h2>
            <div id=output>None yet.</div>
    </div>


</div>
</body>