{% extends "index.html" %}
{% load static %}

{%block static  %}
<script>var crcr = '{{plant.scan.url}}' </script>
<script type="text/javascript" src="{%static "js/color_picker.js"%}"></script>
<script type="text/javascript" src="{%static "js/meassuring.js"%}"></script>

{% endblock static %}

{%block content %}
<div class="container">
    <div class = "row">

    <div class="col-lg-5">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#metadata">Metadata</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#distance">Distansce measurement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab"  href="#color_picker">Color measurement</a>
  </li>
  <li class="nav-item dropdown">

  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="metadata">
	  <h2>{{plant.taxon}}</h2>
	<div>
	</div>
	<p>	Here should be metadata from database.</p>
	<h3>Name of plant: {{plant.taxon}}</h3>
	<h3>Country: {{plant.country}}</h3>

  </div>
  <div class="tab-pane fade" id="color_picker">
        <div>Color</div>
        <div id="preview"></div>
        <div>Parameters</div>
        <div>R: <input type="text" id="rVal" /></div>
        <div>G: <input type="text" id="gVal" /></div>
        <div>B: <input type="text" id="bVal" /></div>
        <div>RGB: <input type="text" id="rgbVal" /></div>
        <div>RGBA: <input type="text" id="rgbaVal" /></div>
        <div>HEX: <input type="text" id="hexVal" /></div>
  </div>

  <div class="tab-pane fade" id="distance">
       <input style="visibility:hidden;" id=ref value=1>

            <div id=fileinfo></div>

            <div id=info>x=- y=- -</div>
            <input id=save type=button disabled value="Save as ...">
            <h2>Measurements</h2>
            <div id=output>None yet.</div>

  </div>

</div>

</div>

    <div class="col-lg-7">
        <canvas id="panel" > </canvas>
    </div>

   </div>
</div>
{% endblock content %}