{% extends "index.html." %}
{% load static %}

{% block title %}Collection {% endblock title %}

{% block content %}

{% if object_list %}

{% load thumbnail %}

<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Collection</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left flex_center ">
      {% for plant in object_list %}

    <div class="col-lg-3 col-md-4 col-6 ">
        {% thumbnail plant.scan "200" as im %}
      <a href="{{ plant.scan.url }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail image_zoom" src="{{im.url }}" alt="">
          </a>
        <a class="name_taxon" href="search/services/{{plant.barcode}}"><h2>{{plant.taxon}}</h2></a>

        {% endthumbnail %}
    </div>
      {% endfor %}
  </div>
</div>

<div >
  <ul class="pagination pagination-lg justify-content-center ">

    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class=" page-link " href="?page={{ page_obj.previous_page_number }} ">Previous</a>
      </li>
    {%endif %}
    {%for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item active">
              <a class="page-link" >{{i}}</a>
            </li>
        {% else %}
            <li class="page-item">
        <a  class="page-link " href="?page={{ i }} ">{{i}}</a>
            </li>
        {%endif %}
    {% endfor %}
    {%if page_obj.has_next %}
    <li class="page-item">
        <a class=" page-link" href="?page={{ page_obj.next_page_number }} ">Next</a>
    </li>
    {% endif %}

  </ul>
</div>


{% else %}
<h1>Oops, somethings is wrong</h1>
{% endif %}

{% endblock content %}