<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{%static "css/main.css" rel="stylesheet"%}" type="text/css" />
    <link rel="stylesheet" href="{%static "css/style.css"%}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Подключаем jQuery (необходим для Bootstrap JavaScript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Search result</title>
</head>
<body>


<div class="page">
            <div class="sidebar">
                    <a href="/index" id="logo"><img src="{%static "images/logo1111.png"%}" alt="logo"></a>
                    <p>
                        ...
                    </p>
                    <ul>
                        <li class="selected">
                           <a href="/search">Back</a>
                        </li>

                    </ul>



            </div>
</div>
{% if object_list %}
{% load thumbnail %}

<!--                            {% for plant in object_list %}-->
<!--                        -->
<!--                            {% thumbnail plant.scan "200" as im %}-->
<!--                                 <a href="{{ plant.scan.url }}">-->
<!--                                    <img src="{{im.url }}" class="image_zoom">-->
<!--                                 </a>-->
<!--                            {% endthumbnail %}-->

<!--                            <a href="/scans/{{plant.scan}}" >Full</a>-->
<!--                            <a href="services/{{plant.barcode}}">services {{plant.barcode}}</a>-->
<!--&lt;!&ndash;                            <img src="{%static '{{plant.scan}}%'}" alt="logo">&ndash;&gt;-->
<!--&lt;!&ndash;                            {{plant.scan}}&ndash;&gt;-->
<!--                        </div>-->

<!--                            {% endfor %}-->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Result</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left flex_center">
      {% for plant in object_list %}

    <div class="col-lg-3 col-md-4 col-6 ">
        {% thumbnail plant.scan "200" as im %}
      <a href="{{ plant.scan.url }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail image_zoom" src="{{im.url }}" alt="">
          </a>

        <a href="services/{{plant.barcode}}"><h2>{{plant.taxon}}</h2>


        {% endthumbnail %}
    </div>
      {% endfor %}
  </div>

</div>

{% else %}
<h1>No result</h1>
{% endif %}
</body>
</html>