{% extends "index.html" %}
{% load static %}

{%block static  %}
<script>var crcr = '{{plant.scan.url}}' </script>
<script type="text/javascript" src="{%static "js/color_picker.js"%}"></script>
<script type="text/javascript" src="{%static "js/meassuring.js"%}"></script>

{% endblock static %}

{%block content %}
<div class="container">
    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" id="clearer-1" href="#metadata">Metadata</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#distance">Distansce measurement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " data-toggle="tab" id="clearer-2" href="#color_picker">Color measurement</a>
  </li>
  <li class="nav-item dropdown">

  </li>
</ul>
    <div class = "row">

    <div class="col-lg-5">


<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="metadata">
	  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Metadata</div>
  <div class="card-body">
    <h4 class="card-title">Taxon:{{plant.taxon}}</h4>
    <p class="card-text">Country: {{plant.get_country_display}}</p>
	  {% if plant.locality %}
    <p class="card-text">Locality: {{plant.locality}}</p>
	  {%endif%}
	  <p class="card-text">Collector: {{plant.collector}}</p>
	{% if plant.legend.author %}
		<p class="card-text">Legend author: {{plant.legend_author}}</p>
	{%endif%}
    <p class="card-text">Year: {{plant.year}}</p>

  </div>
	  </div>

  </div>
  <div class="tab-pane fade " id="color_picker">
        <div>Color</div>
        <div id="preview"></div>
        <div>Parameters</div>
      <div class ="params" style="max-width:30%">
        <div>R: <input  type="text" id="rVal" /></div>
        <div>G: <input type="text" id="gVal" /></div>
        <div>B: <input type="text" id="bVal" /></div>
        <div>RGB: <input type="text" id="rgbVal" /></div>
        <div>RGBA: <input type="text" id="rgbaVal" /></div>
        <div>HEX: <input type="text" id="hexVal" /></div>
      </div>
  </div>

  <div class="tab-pane fade" id="distance">
       <input style="visibility:hidden;" id=ref value=1>

            <div id=fileinfo></div>

            <div id=info>x=- y=- -</div>
            <input id=save type=button class="btn btn-primary" disabled value="Save as ...">
            <h3>Measurements</h3>
            <div id=output>None yet.</div>

  </div>

</div>

</div>

    <div class="col-lg-7">

        <canvas id="panel" > </canvas>
    </div>

   </div>
</div>
{% endblock content %}